.main {
  margin: 0 auto;
  padding: 80px 20px 0;
  max-width: 1144px;
}

.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__heading {
}

.main__search-option {
}
